version: 6.48.10

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - objects

definitions:
  authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['api_token'] }}"

  error_handler:
    type: DefaultErrorHandler
    max_retries: 5
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
      - type: ExponentialBackoffStrategy
        factor: 2
    response_filters:
      - type: HttpResponseFilter
        action: FAIL
        failure_type: config_error
        http_codes: [401, 403]
        error_message: >-
          The Attio token is invalid or does not have the required read scopes.
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [429]
        error_message: Attio API rate limit reached.
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [500, 502, 503, 504]
        error_message: Attio API is temporarily unavailable.

  base_requester:
    type: HttpRequester
    url_base: https://api.attio.com/v2/
    authenticator:
      $ref: "#/definitions/authenticator"
    error_handler:
      $ref: "#/definitions/error_handler"
    request_headers:
      Accept: application/json

  offset_paginator_query:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: OffsetIncrement
      page_size: 50

  offset_paginator_body:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: body_json
      field_name: offset
    page_size_option:
      type: RequestOption
      inject_into: body_json
      field_name: limit
    pagination_strategy:
      type: OffsetIncrement
      page_size: 500

  data_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data

  streams:
    objects:
      type: DeclarativeStream
      name: objects
      primary_key:
        - [id, workspace_id]
        - [id, object_id]
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: objects
          http_method: GET
        record_selector:
          $ref: "#/definitions/data_selector"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/object"

    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - [id, workspace_id]
        - [id, list_id]
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: lists
          http_method: GET
        record_selector:
          $ref: "#/definitions/data_selector"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/list"

    workspace_members:
      type: DeclarativeStream
      name: workspace_members
      primary_key:
        - [id, workspace_id]
        - [id, workspace_member_id]
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workspace_members
          http_method: GET
        record_selector:
          $ref: "#/definitions/data_selector"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workspace_member"

    object_attributes:
      type: DeclarativeStream
      name: object_attributes
      primary_key:
        - [id, workspace_id]
        - [id, object_id]
        - [id, attribute_id]
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "objects/{{ stream_slice.object_slug }}/attributes"
          http_method: GET
        record_selector:
          $ref: "#/definitions/data_selector"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: api_slug
              partition_field: object_slug
              stream:
                $ref: "#/definitions/streams/objects"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path: [_airbyte_attio_object_slug]
              value: "{{ stream_slice.object_slug }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/object_attribute"

    records:
      type: DeclarativeStream
      name: records
      primary_key:
        - [id, workspace_id]
        - [id, object_id]
        - [id, record_id]
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "objects/{{ stream_slice.object_slug }}/records/query"
          http_method: POST
          request_headers:
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/data_selector"
        paginator:
          $ref: "#/definitions/offset_paginator_body"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: api_slug
              partition_field: object_slug
              stream:
                $ref: "#/definitions/streams/objects"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path: [_airbyte_attio_object_slug]
              value: "{{ stream_slice.object_slug }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/record"

    list_attributes:
      type: DeclarativeStream
      name: list_attributes
      primary_key:
        - [id, workspace_id]
        - [id, list_id]
        - [id, attribute_id]
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "lists/{{ stream_slice.list_slug }}/attributes"
          http_method: GET
        record_selector:
          $ref: "#/definitions/data_selector"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: api_slug
              partition_field: list_slug
              stream:
                $ref: "#/definitions/streams/lists"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path: [_airbyte_attio_list_slug]
              value: "{{ stream_slice.list_slug }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/list_attribute"

    entries:
      type: DeclarativeStream
      name: entries
      primary_key:
        - [id, workspace_id]
        - [id, list_id]
        - [id, entry_id]
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "lists/{{ stream_slice.list_slug }}/entries/query"
          http_method: POST
          request_headers:
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/data_selector"
        paginator:
          $ref: "#/definitions/offset_paginator_body"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: api_slug
              partition_field: list_slug
              stream:
                $ref: "#/definitions/streams/lists"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path: [_airbyte_attio_list_slug]
              value: "{{ stream_slice.list_slug }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/entry"

    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - [id, workspace_id]
        - [id, note_id]
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: notes
          http_method: GET
        record_selector:
          $ref: "#/definitions/data_selector"
        paginator:
          $ref: "#/definitions/offset_paginator_query"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/note"

streams:
  - $ref: "#/definitions/streams/objects"
  - $ref: "#/definitions/streams/object_attributes"
  - $ref: "#/definitions/streams/records"
  - $ref: "#/definitions/streams/lists"
  - $ref: "#/definitions/streams/list_attributes"
  - $ref: "#/definitions/streams/entries"
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/workspace_members"

schemas:
  object:
    type: object
    additionalProperties: true
    required: [id, api_slug]
    properties:
      id:
        type: object
        additionalProperties: true
      api_slug:
        type: string
  list:
    type: object
    additionalProperties: true
    required: [id, api_slug]
    properties:
      id:
        type: object
        additionalProperties: true
      api_slug:
        type: string
  workspace_member:
    type: object
    additionalProperties: true
    required: [id]
    properties:
      id:
        type: object
        additionalProperties: true
  object_attribute:
    type: object
    additionalProperties: true
    required: [id]
    properties:
      id:
        type: object
        additionalProperties: true
      _airbyte_attio_object_slug:
        type: string
  record:
    type: object
    additionalProperties: true
    required: [id]
    properties:
      id:
        type: object
        additionalProperties: true
      values:
        type: object
        additionalProperties: true
      _airbyte_attio_object_slug:
        type: string
  list_attribute:
    type: object
    additionalProperties: true
    required: [id]
    properties:
      id:
        type: object
        additionalProperties: true
      _airbyte_attio_list_slug:
        type: string
  entry:
    type: object
    additionalProperties: true
    required: [id]
    properties:
      id:
        type: object
        additionalProperties: true
      entry_values:
        type: object
        additionalProperties: true
      _airbyte_attio_list_slug:
        type: string
  note:
    type: object
    additionalProperties: true
    required: [id]
    properties:
      id:
        type: object
        additionalProperties: true

spec:
  type: Spec
  documentation_url: https://docs.attio.com/rest-api/overview
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Attio Source Spec
    type: object
    additionalProperties: false
    required:
      - api_token
    properties:
      api_token:
        type: string
        title: API token
        description: >-
          Attio workspace access token with object, record, list, entry, note,
          and workspace-member read scopes.
        airbyte_secret: true
        order: 0
